// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

:root {
	--primary-pink-400: #ff003c;
	--primary-400: #2577fd;
	--primary-100: #00b1ff;
	--secondary-400: #6c6a6a;
	--secondary-100: #efefef;
}

$primary: #ffbc00;
$primary-500: #dfa503;
$secondary: black;
$secondary-500: #161616;
$secondary-300: #3f3f3f;
$secondary-200: #67686a;
$secondary-100: #cbcbcb;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

.bttn {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 10px;
	background: var(--primary-400);
	color: white;
	border-radius: 30px;
	font-weight: 400;
	font-size: 18px;
	overflow: hidden;
	z-index: 1;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 100%;
		background: #00b1ff;
		z-index: 1;
		border-radius: 5px;
		transition: transform 0.5s;
		transition-timing-function: ease;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
		transform: scaleX(0);
	}
	&:hover {
		text-decoration: none;
		color: white;
		&::before {
			width: 100%;
		}
	}
	@media (max-width: $md) {
		font-size: 16px;
		padding: 5px 10px;
	}
}

.black-btn {
	background: #000;
	box-shadow: 0 20px 50px 0 rgb(22, 22, 22 / 20%);
	transform: translateY(0);
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 0;
	margin-bottom: 0;
	padding: 27px 44px;
	border-radius: 25px;
	outline: medium none;
	color: #fff;
	transition: 0.3s ease all;
	&:hover {
		box-shadow: 0 20px 50px 0 rgb(12, 9, 9 / 20%);
		transform: translateY(-3px);
	}
	@media (max-width: $sm) {
		padding: 23px 20px;
		font-size: 16px;
	}
}

#top-nav {
	background-color: black !important;
	padding: 15px 0;
	.top-nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;
		.contact {
			color: white;
		}
	}
	.navbar {
		padding: 0;
	}
	#main-menu {
		.nav-link {
			color: white;
			font-weight: 400;
			&:hover {
				color: var(--primary-pink-400) !important;
			}
		}
		.active {
			color: var(--primary-pink-400) !important;
		}
		@media (max-width: $sm) {
			margin-left: 30px !important;
		}
	}
}

#main-nav {
	background-color: rgb(255, 255, 255) !important;
	padding: 15px 0;
	color: black;
	#main-menu {
		margin-right: 15px;
		.nav-link {
			color: black;
			font-weight: 400;
			&:hover {
				color: var(--primary-pink-400) !important;
			}
		}
		.active {
			color: var(--primary-pink-400) !important;
		}
		@media (max-width: $sm) {
			margin-left: 30px !important;
		}
	}
	.navbar-brand {
		font-size: 2rem;
		font-weight: 700;
		a:hover {
			text-decoration: none;
		}
		@media (max-width: 320px) {
			font-size: 1.5rem;
		}
	}
	.search-products-holder {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--secondary-100);
		padding: 10px;
		border-radius: 30px;
		input {
			border: none;
			outline: 0;
			width: 80%;
		}
		.fa {
			color: var(--secondary-400);
		}
		@media (max-width: $xl) {
			display: none;
		}
	}
	.fav-item-holder,
	.cart-item-holder {
		margin: 0 10px;
		padding: 10px;
		border: 1px solid var(--secondary-100);
		border-radius: 30px;
		position: relative;
		.fa {
			padding: 5px;
			font-size: 20px;
		}
		.badge {
			position: absolute;
			top: -5px;
			right: -5px;
			background: var(--primary-100);
			padding: 2px;
			border-radius: 100%;
			width: 25px;
			height: 25px;
			color: white;
			font-size: 13px;
			letter-spacing: 1px;

			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (max-width: $xl) {
			display: none;
		}
	}
	.sign-in-btn {
		@media (max-width: $md) {
			order: -1;
		}
	}
}

.contact-us-template {
	.iframe-holder {
	}
	.wpcf7 {
		background: $primary;
		padding: 30px;
		border-radius: 30px;
		@media (max-width: $lg) {
			margin-top: 30px;
		}
		input,
		textarea {
			border-radius: 10px;
			margin-bottom: 5px;
			font-size: 18px;
			height: auto;
			background: white;
			border: none;
			outline: none;
			&[type="submit"] {
				display: inline-block;
				background: $primary-500;
				color: white;
				width: auto;
			}
		}
	}
}

body {
    font-family: "Poppins",sans-serif;
    font-weight: normal;
    font-style: normal;
}

div{
	display: block;
}
.contact-section {
    padding: 40px;
	margin: auto;
}

.mb-5 {
    margin-bottom: 5px;
}

@media (max-width: 991px){
.contact-section {
    padding: 70px 0 40px;
}
}

#wrapper-footer {
	padding: 30px 0;
	@media (max-width: $sm) {
		padding: 0 0 50px 0;
	}
	.site-footer {
		.logo {
			line-height: 1.2;
			font-weight: 800;
			font-size: 34px;
		}
		.desc {
			margin-top: 15px;
		}
		h5 {
			color: black;
			line-height: 2;
		}
		ul {
			li {
				a {
					line-height: 2;
					text-decoration: none;
					color: #868c98;
					font-size: 16px;
					left: 0;
					position: relative;
					transition: 0.3s ease all;
					&:hover {
						left: 5px;
						color: #2577fd;
					}
				}
			}
		}
	}
	.site-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;
		.copyright-text {
		}
		.social-icon {
			a {
				margin: 5px;
			}
		}
	}
}
.home-page-wrapper {
	padding-top: 0;
	.home-banner {
		background-color: #c8ebff;
		display: flex;
		align-items: center;
		justify-content: center;
		.hero-img {
			position: relative;
			left: -100px;
			width: 600px;
			@media (max-width: $lg) {
				left: -50px;
				width: 450px;
			}
			@media (max-width: $md) {
				left: -25px;
				width: 345px;
			}
			@media (max-width: 672px) {
				left: -25px;
				width: 310px;
			}
			@media (max-width: $sm) {
				display: none;
			}
		}
		.hero-caption {
			span {
				font-family: "Yellowtail", cursive;
				color: #2577fd;
				font-size: 40px;
				display: inline-block;
				@media (max-width: 672px) {
					font-size: 30px;
				}
			}
			h1 {
				color: #1f2022;
				font-family: "Playfair Display", serif;
				text-transform: uppercase;
				font-size: 100px;
				font-weight: 700;
				line-height: 1.1;
				text-transform: capitalize;
				margin-bottom: 13px;
				@media (max-width: $xl) {
					font-size: 75px;
				}
				@media (max-width: $lg) {
					font-size: 50px;
				}
				@media (max-width: $md) {
					font-size: 40px;
				}
			}
			p {
				font-family: "Playfair Display", serif;
				font-style: italic;
				font-size: 20px;
				line-height: 1.2;
				font-weight: 300;
				margin-bottom: 39px;
				color: #313639;
				margin-bottom: 50px;
				text-transform: capitalize;
				@media (max-width: $md) {
					font-size: 14px;
				}
				@media (max-width: $sm) {
					margin-bottom: 30px;
				}
			}
			@media (max-width: $sm) {
				padding: 15px 0;
				text-align: center;
			}
		}
	}
	.category-area {
		padding-left: 45px;
		padding-right: 45px;

		.category-img {
			position: relative;
			img {
				width: 100%;
				border-radius: 6px;
			}
			.category-caption {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 52px;
				@media (min-width: 1200px) {
					right: 13px;
				}
				@media (max-width: $sm) {
					right: 5px;
				}
				h2 {
					color: #1f1f1f;
					text-transform: capitalize;
					font-size: 40px;
					font-weight: 700;
					line-height: 1.1;
					text-transform: capitalize;
					margin-bottom: 13px;
					@media (min-width: 1200px) and (max-width: 1600px) {
						font-size: 26px;
					}
					@media (max-width: $sm) {
						font-size: 30px;
					}
				}
				.best {
					a {
						color: #000;
						text-transform: capitalize;
						font-size: 16px;
						font-weight: 500;
						line-height: 1.1;
						text-transform: capitalize;
						background: #ffce25;
						padding: 13px 24px;
						border-radius: 30px;
						display: inline-block;
						text-decoration: none;

						@media only screen and (min-width: 1200px) and (max-width: 1600px) {
							padding: 13px 15px;
						}
					}
				}
				.collection {
					display: block;
					color: #0071fe;
					text-transform: capitalize;
					font-size: 30px;
					line-height: 1.1;
					text-transform: capitalize;
					font-family: "Yellowtail", cursive;
					font-weight: 600;
					text-shadow: 0 -3spx 0 #fff;
					margin-top: -8px;
					@media only screen and (min-width: 1200px) and (max-width: 1600px) {
						font-size: 23px;
					}
					@media (max-width: $sm) {
						font-size: 20px;
					}
				}
			}
		}
		@media (max-width: $sm) {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.latest-product-area {
		.product-btn {
			border-bottom: 1px solid #e8e8e8;
			margin-bottom: 80px;
			padding: 0 11px;
			.properties__button.f-right {
				float: none;
			}
			@media (max-width: $lg) {
				margin-bottom: 50px;
			}
			@media (max-width: $md) {
				margin-bottom: 30px;
			}
			@media (max-width: $sm) {
				margin-bottom: 15px;
			}
		}
		.nav-tabs {
			margin-bottom: 15px;
			padding-bottom: 0;
			position: relative;
			border: 0;
			display: flex;
			justify-content: center;
			.nav-item {
				padding-bottom: 10px;
				display: block;
				color: #8f8f96;
				text-transform: capitalize;
				font-size: 16px;
			}
			.nav-link {
				border: 0;
				border-bottom: 2px solid transparent;
				&.active {
					color: #ff003c;
				}
			}
		}
		.single-product {
			text-align: center;
			margin-bottom: 50px;
			.product-img {
				margin-bottom: 30px;
				position: relative;
				overflow: hidden;
				img {
					width: 100%;
					vertical-align: middle;
					border-style: none;
				}
				.new-product {
					position: absolute;
					top: 25px;
					left: 23px;
					span {
						background: #ff003c;
						padding: 3px 16px;
						border-radius: 30px;
						color: #fff;
					}
				}
			}
			.product-caption {
				.product-ratting {
					i {
						color: #ffbc07;
						margin-bottom: 14px;
						&.low-star {
							color: #d3d3d3;
						}
					}
				}
				h4 {
					a {
						font-family: "Playfair Display", serif;
						margin-bottom: 16px;
						font-size: 18px;
						color: #383838;
						text-decoration: none;
						transition: 0.3s ease all;
						font-weight: 500;
						&:hover {
							color: #ff003c;
						}
					}
				}
				.price {
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						li {
							display: inline-block;
							font-size: 18px;
							font-weight: 500;
							padding-right: 13px;
							&.discount {
								color: #ff003c;
								text-decoration: line-through;
							}
						}
					}
				}
			}
		}
	}
	.best-product-area {
		position: relative;
		.bg-height {
			background-repeat: no-repeat;
			width: 100%;
			background-size: cover;
		}
		.product-wrapper {
			background-color: #fff7d8;
			.product-man {
				left: 9%;
				bottom: 0;
				z-index: 1;
			}
		}
		.vertical-text span {
			text-orientation: 150deg;
			writing-mode: vertical-lr;
			writing-mode: vertical-lr;
			transform: rotate(180deg);
			font-size: 117px;
			font-family: "Poppins", sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			-webkit-text-stroke: 1px #e6dfc6;
			-webkit-text-fill-color: transparent;
			position: relative;
			z-index: 0;
		}
		.best-product-caption {
			padding-top: 150px;
			padding-bottom: 130px;
			@media (max-width: $lg) {
				padding-top: 100px;
				padding-bottom: 75px;
			}
			@media (max-width: $md) {
				padding-top: 75px;
				padding-bottom: 50px;
			}
			@media (max-width: $sm) {
				padding-top: 50px;
				padding-bottom: 30px;
			}
			h2 {
				color: #000;
				font-size: 55px;
				font-weight: 700;
				line-height: 1.3;
				margin-bottom: 19px;
				@media (max-width: $lg) {
					font-size: 44px;
				}
				@media (max-width: $md) {
					font-size: 38px;
				}
				@media (max-width: $sm) {
					font-size: 30px;
				}
			}
			p {
				color: #373b41;
				font-size: 20px;
				margin-bottom: 55px;
				@media (max-width: $md) {
					margin-bottom: 42px;
				}
				@media (max-width: $sm) {
					margin-bottom: 30px;
				}
			}
			a {
				text-decoration: none;
				&:hover,
				&:active {
					color: white;
				}
			}
		}
		.shape {
			position: absolute;
			right: 145px;
			bottom: 64px;
			opacity: 0.8;
			img {
				width: 167px;
			}
		}
	}
	.best-collection-area {
		.item-center {
			@media (max-width: $sm) {
				margin-top: 30px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
		.best-left-cap {
			text-align: center;
			h2 {
				color: #000;
				font-size: 45px;
				font-weight: 700;
				line-height: 1.3;
				margin-bottom: 19px;
				@media (max-width: $lg) {
					font-size: 38px;
				}
				@media (max-width: $sm) {
					font-size: 30px;
					text-align: center;
					margin-bottom: 5px;
				}
			}
			p {
				color: #373b41;
				font-size: 20px;
				margin-bottom: 55px;
				@media (max-width: $sm) {
					font-size: 16px;
					margin-bottom: 30px;
					text-align: center;
					margin-bottom: 15px;
				}
			}
			.shop1-btn {
				background: #2577fd;
				-moz-user-select: none;
				text-transform: capitalize;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 1px;
				line-height: 0;
				margin-bottom: 15px;
				padding: 27px 44px;
				border-radius: 25px;
				margin: 10px;
				cursor: pointer;
				transition: color 0.4s linear;
				position: relative;
				z-index: 1;
				border: 0;
				overflow: hidden;
				margin: 0;
				@media (max-width: $sm) {
					padding: 23px 20px;
					font-size: 16px;
				}
				// box-shadow: 0 20px 50px 0 rgb(37, 119, 253, 0.2);
			}
		}
		.best-left-img {
			padding-top: 130px;
			@media (max-width: $lg) {
				padding-top: 100px;
			}
		}
		.best-right-cap {
			float: right;

			.best-single {
				display: flex;
				align-items: end;
				.single-cap {
					text-align: right;
					h4 {
						color: #000;
						font-size: 18px;
						line-height: 1.6;
						font-family: "Poppins", sans-serif;
					}
					&.active {
						background: #2577fd;
						padding: 10px 30px;
						border-radius: 10px;
						@media (max-width: $sm) {
							order: 1;
							margin-left: 10px;
						}
					}
				}
				.single-img {
					padding-left: 25px;
					img {
						vertical-align: middle;
						border-style: none;
					}
				}
			}
		}
		.banner-img {
			max-width: inherit !important;
		}
	}
	.latest-wrapper {
		.latest-area {
			position: relative;
			.latest-caption {
				position: relative;
				z-index: 1;
				h2 {
					color: #000;
					font-size: 45px;
					font-weight: 700;
					line-height: 1.3;
					margin-bottom: 19px;
					@media (max-width: $lg) {
						font-size: 38px;
					}
					@media (max-width: $sm) {
						font-size: 30px;
						margin-bottom: 8px;
					}
				}
				p {
					color: #373b41;
					font-size: 20px;
					margin-bottom: 55px;
					@media (max-width: $lg) {
						font-size: 18px;
						margin-bottom: 30px;
					}
				}
			}
			.latest-subscribe {
				form {
					position: relative;
					input {
						outline: none;
						height: 60px;
						width: 100%;
						padding: 10px 32px;
						border: 1px solid #fff;
						border-radius: 30px;
					}
					button {
						padding: 20px 47px;
						background: #2577fd;
						font-size: 14px;
						font-weight: 300;
						position: absolute;
						right: 0;
						border: 0;
						cursor: pointer;
						top: 0;
						color: #fff;
						border-radius: 30px;
					}
				}
			}
			.man-shape {
				position: absolute;
				left: 34px;
				bottom: -77px;
				@media only screen and (min-width: 1200px) and (max-width: 1600px) {
					display: none;
				}
			}
		}
	}
	.shop-method-area {
		.single-method {
			i {
				font-size: 40px;
				color: #282828;
				margin-bottom: 25px;
				display: block;
			}
			h6 {
				color: #282828;
				font-size: 20px;
				font-weight: 600;
				line-height: 1.2;
				margin-bottom: 12px;
				font-family: "Poppins", sans-serif;
			}
			p {
				font-size: 16px;
				@media (max-width: $sm) {
					text-align: end;
				}
			}
			@media (max-width: $sm) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;
				max-width: 300px;
				margin-left: 30px;
				margin-right: 30px;
			}
		}
	}
	.gallery-wrapper {
		.gallery-area {
			.gallery-items {
				display: flex;
				width: 20%;
			}
		}
	}
}

.navbar-toggler {
	@media (max-width: 320px) {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}
}
p {
	font-family: "Poppins", sans-serif;
	color: #506172;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
	font-weight: normal;
}
.latest-height {
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width: $lg) {
		height: 350px;
	}
	@media (max-width: $md) {
		height: 320px;
	}
	@media (max-width: $sm) {
		height: 300px;
	}
}
img {
	vertical-align: middle;
	border-style: none;
}
.lf-padding {
	padding-left: 60px;
	padding-right: 60px;
	@media (max-width: $sm) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.f-right {
	float: right;
}
.heading-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-tittle {
	h2 {
		color: #000;
		font-size: 48px;
		font-weight: 700;
		line-height: 1;
		margin-top: 0;
		@media (max-width: $lg) {
			font-size: 38px;
		}
		@media (max-width: $sm) {
			font-size: 30px;
		}
	}
}
.section-padding2 {
	padding-top: 200px;
	padding-bottom: 200px;
	@media (max-width: $xl) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@media (max-width: $lg) {
		padding-top: 75px;
		padding-bottom: 50px;
	}
	@media (max-width: $md) {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	@media (max-width: $sm) {
		padding-top: 50px;
		padding-bottom: 25px;
	}
}
.section-padding30 {
	padding-top: 100px;
	padding-bottom: 100px;
	@media (max-width: $xl) {
		padding-top: 100px;
		padding-bottom: 70px;
	}
	@media (max-width: $lg) {
		padding-top: 75px;
		padding-bottom: 50px;
	}
	@media (max-width: $md) {
		padding-top: 50px;
		padding-bottom: 25px;
	}
	@media (max-width: $sm) {
		padding-top: 30px;
		padding-bottom: 0px;
	}
}
.padding-bottom {
	padding-bottom: 180px;
	@media (max-width: $xl) {
		padding-bottom: 150px;
	}
	@media (max-width: $xl) {
		padding-bottom: 50px;
	}
}
.mb-85 {
	margin-bottom: 85px;
	@media (max-width: $md) {
		margin-bottom: 50px;
	}
	@media (max-width: $sm) {
		margin-bottom: 30px;
	}
}
.mb-30 {
	margin-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", serif;
}

.bounce-animate {
	animation-name: float-bob;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	-moz-animation-name: float-bob;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: float-bob;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-animation-name: float-bob;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
}

// shopping page
.woocommerce .woocommerce-breadcrumb {
	display: none;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
	float: left;
	width: 100%;
	.custom-select {
		background-color: #f4edf2;
		border-radius: 50px;
		border: 1px solid #f4edf2;
		padding: 13px 25px;
		width: 100%;
		line-height: 22px;
		color: #795376;
		height: auto;
		option {
			border-radius: 50px;
		}
	}
}
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
	display: none;
}

.slider-height2 {
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.woocommerce-products-header__title.page-title {
	color: #000;
	font-size: 50px !important;
	font-weight: 700;
	text-transform: capitalize;
}
.product_sidebar .single_sedebar {
	position: relative;
	margin-bottom: 20px;
	input {
		background-color: #f4edf2;
		border-radius: 50px;
		border: 1px solid #f4edf2;
		padding: 13px 25px;
		width: 100%;
		line-height: 22px;
	}
	i {
		position: absolute;
		right: 30px;
		top: 17px;
	}
}
.select_option {
	.select_option_list,
	.select_option_dropdown {
		background-color: #f4edf2;
		border-radius: 50px;
		border: 1px solid #f4edf2;
		padding: 13px 25px;
		width: 100%;
		line-height: 22px;
		color: #795376;
	}
	.select_option_dropdown {
		border-radius: 10px;
		margin-top: 10px;
	}
}
.single_product_item {
	margin-bottom: 58px;
	.shop-page-item-image {
		background: #f5f5f5;
		border-radius: 15px;
		min-height: 300px;
	}
	.price {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				font-size: 18px;
				font-weight: 500;
				padding-right: 13px;
				&.discount {
					color: #ff003c;
					text-decoration: line-through;
				}
			}
		}
	}
}
.single_product_item h3 {
	font-size: 24px;
	font-weight: 400;
	margin-top: 22px;
	line-height: 1.5;
	margin-bottom: 25px;
	font-family: "Poppins", sans-serif;
}
.single_product_item h3 a {
	color: #191d34;
	&:hover {
		color: #2577fd;
	}
	&:focus,
	&:hover {
		text-decoration: none;
	}
}
.single_product_item p {
	font-size: 20px;
}
.btn_3 {
	display: inline-block;
	padding: 18px 36px;
	border-radius: 5px;
	background-color: transparent;
	border: 1px solid #2577fd;
	font-size: 15px;
	font-weight: 700;
	color: #2577fd;
	text-transform: uppercase;
	font-weight: 400;
	outline: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	&:hover {
		background-color: #2577fd;
		color: #fff;
		text-decoration: none;
	}
}

// product details page
.product_image_area {
	margin-top: 100px;
	.single_product_text {
		margin: 100px 0 200px;
		h3 {
			font-size: 40px;
		}
		p {
			margin-top: 50px;
			color: #707070;
		}
		.card_area {
			margin-top: 60px;
			.product_count_area {
				display: flex;
				align-items: center;
				justify-content: center;
				p {
					margin-top: 0 !important;
					color: #828bb2;
				}
				.product_count {
					border: 1px solid #828bb2;
					margin: 0 35px;
					.product_count_item {
						width: 50px;
						height: 50px;
						line-height: 50px;
						text-align: center;
						display: inline-block;
					}
					input {
						background-color: #828bb2;
						color: #fff;
						border: 1px solid #828bb2;
						color: #fff;
					}
				}
			}

			.add_to_cart {
				margin-top: 60px;
			}
		}
	}
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	float: none;
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	max-height: 450px;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	float: none;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	clear: none;
	.product_meta {
		display: none;
	}
}

.woocommerce div.product {
	p.price,
	span.price {
		del {
			.woocommerce-Price-amount.amount {
				color: red !important;
				font-weight: bold;
			}
		}
	}
	form.cart {
		margin-bottom: 0em;
	}
	.woocommerce-tabs ul.tabs {
		justify-content: center;
		display: flex;
	}
	.woocommerce-tabs .panel {
		text-align: center;
	}
}
.woocommerce-loop-product__title {
	font-size: 18px;
	margin-bottom: 16px;
	transition: 0.3s ease all;
	font-weight: 500;
	color: black;
	&:hover {
		color: #ff003c;
	}
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	text-align: center;
}
.woocommerce ul.products li.product .star-rating {
	display: none;
}
.related.products {
	margin-top: 50px;
}

// cart page
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
	min-width: 150px;
	background: #f5f5f5;
	border-radius: 15px;
}
.woocommerce a.remove {
	font-size: 2.5em;
}
.woocommerce ul.products li.product a img {
	background: #f5f5f5;
	border-radius: 15px;
	height: 220px;
}
.woocommerce table.shop_table {
	.woocommerce-cart-form__cart-item.cart_item {
		.product-name a {
			color: #506172;
		}
	}
}

// My Account - login part
.login_part {
	#login-account-btn {
		display: none;
	}
	#order-1,
	#order-2 {
		transition: 0.3s ease all;
	}
	.btn_3 {
		border: 1px solid #fff;
		background-color: transparent;
		font-size: 14px;
		margin-top: 28px;
		color: #fff !important;
		&:hover {
			background-color: #fff;
			color: #2577fd !important;
		}
	}
	.login_part_text {
		background-image: -moz-linear-gradient(
			90deg,
			#b08ead 0%,
			#4b3049 64%,
			#b08ead 100%
		);
		background-image: -webkit-linear-gradient(
			90deg,
			#b08ead 0%,
			#4b3049 64%,
			#b08ead 100%
		);
		background-image: linear-gradient(
			90deg,
			#b08ead 0%,
			#4b3049 64%,
			#b08ead 100%
		);
		background-size: 200% auto;
		h2 {
			font-size: 24px;
			font-weight: 700;
			line-height: 35px;
			color: #fff;
			margin-bottom: 17px;
		}
		p {
			color: #fff;
			line-height: 25px;
		}
	}
	.login_part_text,
	.login_part_form {
		padding: 80px 70px;
		height: 600px;
		display: table;
		h3 {
			font-size: 26px;
			line-height: 36px;
			font-weight: 700;
			margin-bottom: 80px;
		}
		.p_star {
			display: inline-block;
			position: relative;
		}
		.form-group {
			margin-bottom: 1rem;
			.form-control {
				border: 0 solid transparent;
				border-bottom: 1px solid #ddd;
				border-radius: 0;
			}
		}
	}
	.lost_pass {
		color: #777;
		text-align: right;
		float: right;
		text-transform: capitalize;
	}
	.creat_account {
		margin-top: 11px;
		label {
			color: #777;
			font-size: 14px;
			margin-bottom: 0;
			margin-left: 10px;
		}
	}
}
.Register_part_form {
	padding: 80px 70px;
	height: 600px;
	display: table;
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border: none;
	padding: 0;
	margin: 2em 0;
	text-align: left;
	border-radius: 0;
}
.woocommerce-LostPassword.lost_password {
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	a {
		color: #777;
	}
}
.Register_part_form {
	display: none;
	transition: 0.3s ease all;
	&.active {
		display: block;
	}
}
