// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

:root {
	--primary-pink-400: #ff003c;
	--primary-400: #2577fd;
	--primary-100: #00b1ff;
	--secondary-400: #6c6a6a;
	--secondary-100: #efefef;
}

$primary: #ffbc00;
$primary-500: #dfa503;
$secondary: black;
$secondary-500: #161616;
$secondary-300: #3f3f3f;
$secondary-200: #67686a;
$secondary-100: #cbcbcb;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

.bttn {
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 10px;
	background: var(--primary-400);
	color: white;
	border-radius: 30px;
	font-weight: 400;
	font-size: 18px;
	overflow: hidden;
	z-index: 1;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 100%;
		background: #00b1ff;
		z-index: 1;
		border-radius: 5px;
		transition: transform 0.5s;
		transition-timing-function: ease;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
		transform: scaleX(0);
	}
	&:hover {
		text-decoration: none;
		color: white;
		&::before {
			width: 100%;
		}
	}
}
#top-nav {
	background-color: black !important;
	padding: 15px 0;
	.top-nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;
		.contact {
			color: white;
		}
	}
	.navbar {
		padding: 0;
	}
	#main-menu {
		.nav-link {
			color: white;
			font-weight: 400;
			&:hover {
				color: var(--primary-pink-400) !important;
			}
		}
		.active {
			color: var(--primary-pink-400) !important;
		}
	}
}

#main-nav {
	background-color: rgb(255, 255, 255) !important;
	padding: 15px 0;
	color: black;
	#main-menu {
		margin-right: 15px;
		.nav-link {
			color: black;
			font-weight: 400;
			&:hover {
				color: var(--primary-pink-400) !important;
			}
		}
		.active {
			color: var(--primary-pink-400) !important;
		}
	}
	.navbar-brand {
		font-size: 2rem;
		font-weight: 700;
		a:hover {
			text-decoration: none;
		}
	}
	.search-products-holder {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--secondary-100);
		padding: 10px;
		border-radius: 30px;
		input {
			border: none;
			outline: 0;
			width: 80%;
		}
		.fa {
			color: var(--secondary-400);
		}
	}
	.fav-item-holder,
	.cart-item-holder {
		margin: 0 10px;
		padding: 10px;
		border: 1px solid var(--secondary-100);
		border-radius: 30px;
		position: relative;
		.fa {
			padding: 5px;
			font-size: 20px;
		}
		.badge {
			position: absolute;
			top: -5px;
			right: -5px;
			background: var(--primary-100);
			padding: 2px;
			border-radius: 100%;
			width: 25px;
			height: 25px;
			color: white;
			font-size: 13px;
			letter-spacing: 1px;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.sign-in-btn {
	}
}

.contact-us-template {
	.iframe-holder {
	}
	.wpcf7 {
		background: $primary;
		padding: 30px;
		border-radius: 30px;
		@media (max-width: $lg) {
			margin-top: 30px;
		}
		input,
		textarea {
			border-radius: 10px;
			margin-bottom: 5px;
			font-size: 18px;
			height: auto;
			background: white;
			border: none;
			outline: none;
			&[type="submit"] {
				display: inline-block;
				background: $primary-500;
				color: white;
				width: auto;
			}
		}
	}
}

#wrapper-footer {
	.site-footer {
		.logo {
			line-height: 1.2;
			font-weight: 800;
			font-size: 34px;
		}
		.desc {
			margin-top: 15px;
		}
		h5 {
			color: black;
			line-height: 2;
		}
		ul {
			li {
				a {
					line-height: 2;
					text-decoration: none;
					color: #868c98;
					font-size: 16px;
					left: 0;
					position: relative;
					transition: 0.3s ease all;
					&:hover {
						left: 5px;
						color: #2577fd;
					}
				}
			}
		}
	}
	.site-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;
		.copyright-text {
		}
		.social-icon {
			a {
				margin: 5px;
			}
		}
	}
}
